body,p,td,div,input,th,li,textarea{font-size:16px;color:#000;}

body{background:#fff;margin:0px;padding:0px;border:0;text-align: center;}

h1 {
  text-align: center;
  color: blue;
}
.divSectionAdder{
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionName{
  margin-right: 5px;
  width: 260px;
}
.gradePanel{
	background:#eee;
	border: solid 1px #bbbbbb;
  padding: 10px;
  margin-bottom: 10px;
  width: 40%;
}
.failSafe{
  color: red;
  
}
td{
  padding: 5px;
}

h1{color:#003366;font-size:26px;font-weight:bold;padding:0;margin:12px 0;}
#resulth1{background-color:#ffefe7;padding:0px 5px 0px 5px;border-top:#930 1px dotted;}
h2{font-size:22px;font-weight:bold;color:#003366;padding:0; margin-bottom: 2px;}
h3{font-size:19px;font-weight:bold;}
hr{border:0;color:#aaa;background-color:#aaa;height:1px;}
a{color:#069;text-decoration:underline;}
a:hover{text-decoration:none;}
input{padding: 5px;color:#000;}
select{padding: 4px;color:#000;}
option{font-size:16px;}
input[type=text],
input[type=number],
select {
	border: 1px solid #044284;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #666;
	font-size:20px;
}

.tableHeader{
  text-align: center;
}
.rowHeader{
  height: 40px;
}
.gradeWeight, .gradeValue{
  text-align:center;
  width: 70px;
}
.percentIcon{
	background: white url('media/percent.svg') right 5px center no-repeat;
  padding-right: 22px;
}
.rowAdder{
  margin: 10px auto;
}
h3{
  display: inline;
}